<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="express"
			 connectionString="Server=(localdb)\MSSQLLocalDB;Database=_portal_db;Trusted_Connection=True;Encrypt=False;"/>
		<add name="mysql"
			 connectionString="server=localhost;port=3306;user=root;password=root;database=p13_db;"/>
	</connectionStrings>
</configuration>